<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.example.holidaywork.dao.UserMapper">

    <select id="findByUsername" resultType="user">
        select *
        from user
        where
        username = #{username,jdbcType=VARCHAR}
    </select>

    <update id="updateStatusByCode">
        update user
        set status = 'Y'
        where code = #{code,jdbcType=VARCHAR}
    </update>
</mapper>
